.cardListContainer {
     
    background-color: rgba(48, 49, 49,50%);
    padding: 15px;
    border-radius: 20px;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:450px){

    .cardListContainer {
        width: 80%;
        flex-direction: column;

    }
 
 }
    
   
  